<p>Controller restaurantes</p>
<table>
	<tr>
		<td>Nome</td>
		<td>Endereço</td>
		<td>Especialidade</td>
		<td></td>
	</tr>
	<% @restaurantes.each do |restaurante|%>
		<tr>
			<td><%= restaurante.nome %></td>
			<td><%= restaurante.endereco %></td>
			<td><%= restaurante.especialidade %></td>
			<td><%= link_to 'Mostrar', action: 'show', id: restaurante%></td>
			<td><%= link_to 'Deletar', {action: 'destroy', id: restaurante}, method: 'delete'%></td>
			<td><%= link_to 'Editar', action: 'edit', id: restaurante %></td>
		</tr>
	<% end %>
</table>
<br/>
<%= link_to 'Novo', action: 'new' %>